@import "style.less";

.form__name-wrapper{
  background-color: @grey-blue;
}
.form__emotion-wrapper{
  background-color: @grey-blue;
}

.form__places-wrapper input [type="checkbox"]{
  background-color: @grey-blue;
  width: 55px;
  height: 55px;
}
.form__feeling-wrapper input [type="radio"]{
  background-color: @grey-blue;
}
