
.menu__items-choice{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  padding: 10px;
  list-style: none;
  background-color: @blue;
  min-height: 60px;
}
.closed{
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
}

.nav, .menu__items-logo{
  background-color: @white;
  min-height: 60px;
}
.menu__items,
.menu__items-logo{
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid @grey;
  width: 320px;
  margin: 0 auto;
}

