/* Файл blocks/page-header.less */
@media @tablet-widths {

  .page-header {
    position: relative;

    min-height: 70px; /* минимальная высота содержания */
    padding-bottom: 400px;
  }
   .slogan {
    bottom: 0;
    width: 100%;
    height: 400px;
  }
}
@media @desktop-widths {

  .page-header {
    padding-bottom: 0px;
  }
  .slogan {
    height: 648px;
  }
}
/* Файл blocks/main-nav.less */
.menu {
  width: 320px;
  margin: 0 auto;
}
.menu__items,
.menu__logo-wrapper,
.page-footer {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media @tablet-widths {

.menu{
    width: auto;
    min-height: 70px;
    margin: 0;
  }
.menu__items,
  .page-footer {
    .container();
    .clearfix();
  }
  .page-footer{
    min-height: 70px;
    width: auto;
  }
.menu__items-choice {
    float: left;
  }

  li:nth-child(3),
  li:last-child{
    float: right;

  }
  .menu__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .social{
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
  }
  .nav, .closed{
    display: none;
  }

  .footer-info {
    float: right;
  }
  .laib {
    float: left;

  }

  .social__link {
    display: inline-block;
  }
}
@media @desktop-widths {

  .menu__items-choice {
    width: auto;
  }
}
/* Файл blocks/stats.less */

.intro,
.date,
.video,
.form__emotion {
  .container();
}

@media @tablet-widths {
  .pictures,
  .left {
    .clearfix();
  }
   .pictures .pictures__text-wrapper {
    float: left;
     width: 250px;
  }
  .pictures .pictures__view{
    float: right;
    width: 510px;
  }
  .left .pictures__text-wrapper{
float: right;
  }
  .left .pictures__view{
    float: left;
  }
}
@media @desktop-widths {
  .pictures__text-wrapper {
     width: 400px;
  }
  .pictures__view {
    width: 800px;
  }
}
/* Файл blocks/facilities.less */

@media @tablet-widths {

  .facilities,
  .info__block {
display: inline-block;
    width: 240px;
}
  .foto__wrapper {
display: inline-block;
    width: 324px;
}
   div .foto__wrapper:first-child {
    width: 700px;
  }

}

@media @desktop-widths {
  .facilities,
  .info__block {
    width: 397px;
}
  .foto__wrapper {
    width: 400px;
}
  div .foto__wrapper:first-child {
    width: 960px;
  }

  }
/* Файл blocks/form.less */
.form {
  width: 320px;
  margin: 0 auto;
}
.form__name,
.form__contacts,
.form__feeling,
.form__places,
.form__emotion {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media @tablet-widths {

.form{
    width: auto;
    margin: 0;
  }
   
  
.form {
    .container();
    }
    .form__name,
    .form__feeling {
        display: inline-block;
        width: 300px;
    }
    .form__wrapper {
        .clearfix();
    }
    .form__name{
        float:right;
    }
    .form__feeling {
        z-index: 5;
        float: left;
    }

    .form__places-wrapper {
     display: block;
    
  }
    .form__places-wrapper:nth-child(1),
    .form__places-wrapper:nth-child(2) {
        position: relative;
       bottom: 45px;
        right: 100px;
    }
    
    
    .form__places-wrapper:nth-child(3),
    .form__places-wrapper:nth-child(4) {
        position: relative;
        left: 100px;
       
    }
     .form__contacts-wrapper input[type="text"],
     .form__contacts-wrapper input[type="email"] {
        display: inline-block;
        min-width: 600px;
        background-color: @grey;
    }
  
}
@media @desktop-widths {
    
    .form__places-wrapper {
       display: inline-block;
        width: 100px;
    }
     .form__contacts-wrapper input[type="text"] {
        display: inline-block;
        min-width: 200px;
        right: 50px;
    }
    form__contacts-wrapper input[type="email"] {
        display: inline-block;
        min-width: 200px;
        left: 50px;
    }
}